<div class="sign-up-container">
    
        <ul class="sign-up-flex">
        <li><h1>Sign up for exclusive cats today and don't miss out anything!</h1></li>
        <li>
            <div class="sign-up-email">lorem@ipsum.com</div>
            <div class="sign-up-button">Sign up</div>
        </li>
    </ul>
</div>
<footer>

    <ul class="footer-flex">
        <li>
            <h1>Our stores</h1>
            Please visit our stores and buy something!<br>
            <br>
            Imaginary street<br>
            5000 Odense<br>
            243243243<br>
           <br>
            Imaginary street<br>
            5000 Odense<br>
            243243243<br><br>

            <div id="facebook"></div>
            <div id="twitter"></div>
            <div id="google"></div>
            <div id="vimeo"></div>
            <div id="rss"></div>
        </li>
        <li>
            <h1>Blog posts</h1>
            <a href="#"><p>This is a title</p></a>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed auctor elit.
            <br><br>
            <a href="#"><p>This is a title</p></a>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed auctor elit.
            <br><br>
           <a href="#"> <p>This is a title</p></a>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed auctor elit.
        </li>
        <li>
            <h1>Support</h1>
            <a href="#">Terms & Conditions<br></a>
            <a href="#">FAQ<br></a>
            <a href="#">Payment<br></a>
            <a href="#">Refunds<br></a>
            <a href="#">Track Order<br></a>
            <a href="#">Services<br></a>
            <a href="#">Privacy & Security<br></a>
            <a href="#">Press<br></a>
            <a href="#">Corporate Information</a>
        </li>

        <li style="margin-top:60px;">
            <a href="#">Terms & Conditions<br></a>
            <a href="#">FAQ<br></a>
            <a href="#">Payment<br></a>
            <a href="#">Refunds<br></a>
            <a href="#">Track Order<br></a>
            <a href="#">Services<br></a>
            <a href="#">Privacy & Security<br></a>
            <a href="#">Careers<br></a>
            <a href="#">Press<br></a>
            <a href="#">Corporate Information</a>
        </li>
		</ul>

</footer>


<!--
<footer>
<div class="recipe-footer" *ngFor="let footer of footers">
	<h2>{{footer.name}}</h2>
	<p>{{footer.description}}</p>

</div>
</footer>
-->