<div class="maincontainer">
    <ul class="head-flex">
        <li><img src="app/assets/images/funlogo.png" alt="supersportslogo" width="100%"></li>
        <li>
            <div class="white"><img class="img" src="app/assets/images/phone-call.svg" alt="phone-call" height="15px">+45 22660077</div>
            <div class="white"><img class="img" src="app/assets/images/envelope.svg" alt="envelope" height="15px">lorem@ipsum.com</div>
            <div class="grey"><img class="img" src="app/assets/images/shopping-cart.svg" alt="shopping-cart" height="15px">$ 99.03 Checkout</div>
        </li>
    </ul>

    <hr>
</div>

<ul class="navigation">
    <li><a [routerLink]="['home']">Home</a></li>
    <li><a [routerLink]="['contact']">Contact</a></li>

</ul>
<hr class="big">